<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Music Oracle</title>


	<link rel="stylesheet" href="{{ url_for('static', filename='css/ticker.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
	<link rel="icon" type="image/png" href="{{ url_for('INPUT', filename='favicon.png') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
  <section class="section">
    <div class="container-fluid">
		<div class="row">
	
			<div class="col-lg-8">
				<article class="media">
					<div class="media-left">
						<figure class="image is-128x128">
							<img src="https://raw.githubusercontent.com/rihp/music-ranking-AI/html-dev/INPUT/riseUP_logo.jpeg" alt="RiseUP Logo">
						</figure>
					</div>
					<div id="content" class="col-lg-4">
						<h1 class="title">
							RiseUP
						</h1>
					<p class="subtitle">
						Can we use <strong>Machine learning</strong> to predict the future performance of an artist? 
					</p>
					</div>
					<div id="content" class="col-lg-4">
						<small> 🎹️ This <strong>API</strong> uses <strong>Supervised Machine Learning</strong> to generate a prediction. The generated datapoints are sent to a <strong>Mongo Atlas</strong> server, which are later fetched by <strong>Flask</strong> and returned as a <strong>							<a href="localhost:5007/api/artist/{{ a_id }}/lookup/{{ metric }}">
								JSON</a></strong>. 
						<br> The chart below was built with a <strong>Chart.js</strong> template.</small>
					</div>

				</article>



				<div class="box">
					<div class="container">
						<canvas id="chartCanvas"></canvas>
						<br>
					</div>
					<article class="media">
						<div class="media-left">
						<figure class="image is-128x128">
							<img class="is-rounded" src="{{ a_img }}" alt="Image">
						</figure>
						</div>
						<div class="media-content">
						<div class="content">
							<p>
							<large><strong>{{ a_name }}</strong></large>      |      Followers: {{ a_followers }}				
							<br>
							<small><strong>Popularity</strong>: {{ a_popularity }}/100  |   <strong>Genres</strong>: {{ a_genres }}   </small> 
							<br>
							
							<small>Updated: {{ a_updated }}</small>
							</p>
							<div class="my_ticker">
								<p><strong>Live tweets:</strong></p>
								<p class="marquee"><span>{{ a_tweets }}</span></p>
							</div>	
						</div>
						<nav class="level is-mobile">
							<div class="level-left">
							<a class="level-item" href="https://github.com/rihp">
								<span class="icon is-small">
									<i class="fab fa-github"></i>
								</span>
							</a>
							<a class="level-item" href="https://henriquezperozo.com/rihp">
								<span class="icon is-small">
								<i class="fas fa-globe" aria-hidden="true"></i>
								</span>
							</a>
							<a class="level-item" href="{{ a_href }}">
								<span class="icon is-small">
								<i class="fab fa-spotify" aria-hidden="true"></i>
								</span>
							</a>
							</div>
						</nav>






					</div>
				</article>
			</div>
			</div>

			<div id="content" class="col-lg-4">
				Want to read the code ? Check over here.
				<div id="settings-object"></div>

				<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js"></script>
				<!-- do not do this on production -->
				<script src="https://finom.github.io/github-embed/github-embed.min.js"></script>
				<script>
					githubEmbed('#settings-object', {
						"owner": "rihp",
						"repo": "music-ranking-AI",
						"ref": "html-dev",
						"embed": [{
							"path": "README.md"
						}, {
							"path": "api.py"
						}]
					});
				</script>
			</div>
	</div>
  </section>

  <script>
	  var ctx = document.getElementById('chartCanvas').getContext('2d');
	  var past_data = {{ past_data|tojson|safe }}
	  var pred_data = {{ pred_data|tojson|safe }}
	  console.log(pred_data)
	  var chart = new Chart(ctx, {
			type: 'line',
			data: {
				datasets: [{
					label: 'Historic data',
					data: past_data,
					backgroundColor: '{{ ncolor }}',
					borderColor: '{{ ncolor }}',
					borderWidth: 2,
					fill: true,
					pointBorderWidth: 1,
					pointHoverRadius: 5,
					pointHoverBackgroundColor: '{{ ncolor }}',
					pointHoverBorderColor: '{{ ncolor }}',
					pointHoverBorderWidth: 2,
					pointRadius: 1,
					pointHitRadius: 10
				},
				{
					label: 'Prediction',
					data: pred_data,   
					backgroundColor: '{{ gcolor }}',
					borderColor: '{{ gcolor }}',
					borderWidth: 2,
					fill: true,
					pointBorderWidth: 1,
					pointHoverRadius: 5,
					pointHoverBackgroundColor: '{{ gcolor }}',
					pointHoverBorderColor: '{{ gcolor }}',
					pointHoverBorderWidth: 2,
					pointRadius: 1,
					pointHitRadius: 10,
				}

			]
			},
			options: {
				title: {
         		    display: true,
					text: "{{ chart_title }}",
					fontSize: 28 
		        },
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}],
					xAxes: [{
        				type: 'time'
      				}]
				}
			}
		});
  </script>
  </body>

</html>